html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
	font-family: Baskerville, Helvetica,  Arial,sans-serif;
}
header {
	margin-bottom: 6%;
}
header .left-menu {
	float: left;
	width: 15%;
}
header .left-menu-mobile {
	display: none;
}
header h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-family: Baskerville;
}
a,
a:hover {
	color: #fff;
	text-decoration-color: #007bff;
}
a:hover {
	text-decoration: none;
	color: #007bff;
}
#main-container section {
	padding-bottom: 2%;
}
section {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
section p {
	font-size: 1.5em;
}
section h2 {
	font-size: 1.8em;
}
section ul {
	font-size: 1.5em;
}
section ul li {
	line-height: 1.2em;
}
section #cuisine-plats {
	list-style-type: "\01F60B";
	text-align: left;
}
section #cuisine-plats li {
	padding-left: 1%;
}
section .ressource {
	list-style-type: "\01F440";
	text-align: left;
}
section .ressource li {
	padding-left: 1%;
}
footer {
	height: 3%;
	padding-bottom: 0.2%;
	background-color: rgba(51, 51, 51, .5);
}

/* ***********************************************************************
   ** Début style Curriculum Vitae                                      **
   *********************************************************************** */

#toc ul {
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 18%;
    margin-left: 2%;
    padding-right: 2%;
    text-align: right;
    border-right: 6px solid #F8F8FF;
}

#toc ul li {
    padding-bottom: 2px;
}

#cv {
    text-align: left;
    font-size: 0.8em;
}

#cv article .catamania .sub-xp {
    border-top: 2px dashed #00BFFF;
    border-bottom: 6px solid #00BFFF;
    border-left: 2px solid #00BFFF;
    border-right: 2px dashed #00BFFF;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

#cv article .catamania .project {
    border: 2px solid #00BFFF;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
}

#cv article .apprenticeship .sub-xp {
    border-top: 2px dashed #8FBC8F;
    border-bottom: 6px solid #8FBC8F;
    border-left: 2px solid #8FBC8F;
    border-right: 2px dashed #8FBC8F;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

#cv article .apprenticeship .project {
    border: 2px solid #8FBC8F;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
}

#cv article .trainee .sub-xp {
    border-top: 2px dashed #FFDEAD;
    border-bottom: 6px solid #FFDEAD;
    border-left: 2px solid #FFDEAD;
    border-right: 2px dashed #FFDEAD;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

#cv article .trainee .project {
    border: 2px solid #FFDEAD;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
}

#cv article .pro-form {
    border: 2px solid #FF6347;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
}

#cv article .university {
    border: 2px solid #7B68EE;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
}

#cv article .hobby {
    border: 2px solid #6495ED;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
}

#cv article .pro-form p {
    border-top: 2px dotted #FF6347;
    padding-top: 8px;
}

#cv article .university p {
    border-top: 2px dotted #7B68EE;
    padding-top: 8px;
}

#cv article .hobby p {
    border-top: 2px dotted #6495ED;
    padding-top: 8px;
}

#cv article .pro-form-text {
    color: #FF6347;
}

#cv article .university-text {
    color: #7B68EE;
}

#cv article .hobby-text {
    color: #6495ED;
}

#cv article .catamania h3,
#cv article .apprenticeship h3,
#cv article .trainee h3,
#cv article .pro-form h3,
#cv article .university h3,
#cv article .hobby h3 {
	font-size: 1.4em;
}

#cv article .catamania h4,
#cv article .apprenticeship h4,
#cv article .trainee h4,
#cv article .pro-form h4,
#cv article .university h4 {
	font-size: 1.2em;
}

#cv article .catamania .sub-xp h5,
#cv article .apprenticeship .sub-xp h5,
#cv article .trainee .sub-xp h5 {
	font-size: 1.2em;
}

#cv article .catamania .sub-xp .resume-xp h6,
#cv article .apprenticeship .sub-xp .resume-xp h6,
#cv article .trainee .sub-xp .resume-xp h6 {
	font-size: 1em;
	margin: 0px;
}

#cv article .catamania .sub-xp .resume-xp h6 {
    border-bottom: 2px dotted #00BFFF;
}

#cv article .apprenticeship .sub-xp .resume-xp h6 {
    border-bottom: 2px dotted #8FBC8F;
}

#cv article .trainee .sub-xp .resume-xp h6 {
    border-bottom: 2px dotted #FFDEAD;
}

#cv article .catamania .sub-xp .project h6,
#cv article .apprenticeship .sub-xp .project h6,
#cv article .trainee .sub-xp .project h6 {
	font-size: 1em;
}

#cv article .catamania h3,
#cv article .catamania h4 {
    color: #00BFFF;
}

#cv article .apprenticeship h3,
#cv article .apprenticeship h4 {
    color: #8FBC8F;
}

#cv article .trainee h3,
#cv article .trainee h4 {
    color: #FFDEAD;
}

#cv article .catamania .sub-xp .resume-xp .tools li,
#cv article .apprenticeship .sub-xp .resume-xp .tools li,
#cv article .trainee .sub-xp .resume-xp .tools li,
.gamebuino-projects li {
    font-size: 0.8em;
}

#cv article .catamania .sub-xp .resume-xp .tools,
#cv article .apprenticeship .sub-xp .resume-xp .tools,
#cv article .trainee .sub-xp .resume-xp .tools,
.gamebuino-projects {
    /* Retirer les puces par défaut et les marges */
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2%;

    /* Utiliser flexbox pour aligner facilement sur une ligne */
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Espace autour des éléments */
}

/* Ajouter l'astérisque après chaque élément */
#cv article .catamania .sub-xp .resume-xp .tools li::after,
#cv article .apprenticeship .sub-xp .resume-xp .tools li::after,
#cv article .trainee .sub-xp .resume-xp .tools li::after,
.gamebuino-projects li::after {
    content: "¤";
    margin-left: 0.5rem; /* Espace avant l'astérisque */
}

/* Retirer l'astérisque du tout dernier élément de la liste */
#cv article .catamania .sub-xp .resume-xp .tools li:last-child::after,
#cv article .apprenticeship .sub-xp .resume-xp .tools li:last-child::after,
#cv article .trainee .sub-xp .resume-xp .tools li:last-child::after,
.gamebuino-projects li:last-child::after {
    content: "";
}

/* ***********************************************************************
   ** Fin style Curriculum Vitae                                        **
   *********************************************************************** */

/* In portrait (820x1180 or 1024x1366) */
@media only screen and (orientation: portrait) and (
	((max-device-width: 820px) and (max-device-height: 1180px)) or 
	((max-device-width: 1024px) and (max-device-height: 1366px))
) {
	header {
		margin-bottom: 8%;
	}
	header .left-menu {
		display: none;
	}
	header .left-menu-mobile {
		display: block;
		position: relative;
		float: left;
		width: 10%;
		left: 8%;
		background-color: #fff;
		color: #333;
		border-radius: 45%;
		font-size: 1.8em;
	}
	#menu-dialog p {
		font-size: 1.8em;
	}
	header h1 {
		text-align: left;
		padding-left: 20%;
		font-size: 3.8em;
	}
	section h2 {
		font-size: 2.8em;
	}
	footer {
		font-size: 1.8em;
	}
}
/* For Surface in portrait */
@media only screen and (max-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
	header {
		margin-bottom: 8%;
	}
	section {
		width: 80%;
	}
	section p {
		font-size: 2.8em;
	}
	section ul li {
		font-size: 1.8em;
	}
}
/* In portrait */
@media only screen and (orientation: portrait) and (
	((max-device-width: 360px) and (max-device-height: 740px)) or 
	((max-device-width: 390px) and (max-device-height: 844px)) or 
	((max-device-width: 412px) and (max-device-height: 915px)) or 
	((max-device-width: 414px) and (max-device-height: 736px)) or 
	((max-device-width: 414px) and (max-device-height: 896px)) or 
	((max-device-width: 480px) and (max-device-height: 854px)) or 
	((max-device-width: 600px) and (max-device-height: 960px)) or 
	((max-device-width: 800px) and (max-device-height: 1280px))
) {
	section {
		margin-bottom: 10%;
	}
}
/* In landscape */
@media only screen and (orientation: landscape) and (
	((max-device-width: 736px) and (max-device-height: 414px)) or 
	((max-device-width: 740px) and (max-device-height: 360px)) or 
	((max-device-width: 844px) and (max-device-height: 390px)) or 
	((max-device-width: 854px) and (max-device-height: 480px)) or 
	((max-device-width: 896px) and (max-device-height: 414px)) or 
	((max-device-width: 915px) and (max-device-height: 412px)) or 
	((max-device-width: 960px) and (max-device-height: 600px)) or 
	((max-device-width: 1180px) and (max-device-height: 820px)) or 
	((max-device-width: 1280px) and (max-device-height: 800px)) or 
	((max-device-width: 1366px) and (max-device-height: 1024px)) or 
	((max-device-width: 1368px) and (max-device-height: 912px))
) {
	header {
		margin-bottom: 8%;
	}
}